@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


:root {
    /*text sizes*/
    --headTitleSize: 2em;
    --titleSize: 1.5em;
    --subTitleSize: 1.5em;
    --textSize: 1em;
    /*font properties*/
    --textFont: 'Gilroy-Regular', sans-serif;
    /*colors*/
    --mainColor: #ABCDDB;
    --secundaryColor: #ffff;
    --tertairyColor: #D7E6EC;
    --textColor: #000000;

    --margin: rem
}



    * {
        font-family: var(--textFont);
    }

    body {

            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            overflow-x: hidden; /* Om horizontaal scrollen te voorkomen */
    }

    main {
        max-width: 100%;
    }
    /*text properties*/
    h1 h2 h3 p {
        font-family: var(--textFont);
        max-width: 60ch;
    }

    h1, h2, h3 {
        line-height: 1.2; /* of line-height: 1.2em; */
        letter-spacing: 0.05em;
        font-weight: bold;
    }

    h1 {
        font-size: var(--headTitleSize);;
    }

    h2 {
        font-size: var(--titleSize);

    }

    h3 {
        font-size: var(--subTitleSize);

    }

    p {
        font-size: var(--textSize);
        line-height: 1.5; /* of line-height: 1.5em; */
        letter-spacing: 0.02em;
    }

    /*components (like buttons and li)*/
    ul {
        margin: 0.75em 0;
        padding: 0 1em;
        list-style: none;
    }

    .listItems::before {
        content: "";
        border-color: transparent #111;
        border-style: solid;
        border-width: 1em 0 1em 1em;
        display: block;
        height: 0;
        width: 0;
        left: -2em;
        top: 2.5em;
        position: relative;
    }

    button {
        background-color: var(--secundaryColor);
        border: solid 1px black;
        padding: 1em;
    }

    a {
        text-decoration: none;
        color: var(--textColor);
        font-weight: bold;
    }

    a:visited {
        color: var(--textColor);
    }

    /*wraps the page*/
    .pageWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--mainColor);

    }

    /*image settings*/
    header img {
        width: 100%;
    }

    img {
        max-width: 100%;
    }

    .howDoWeDo img{
        max-width: 77%;
    }

    /*first block*/
    /*how do we do properties*/
    .howDoWeDo {
        display: flex;
        flex-direction: column;

    }
.howDoWeDoEmpty {
    display: none;
}


    .howWeDoTextContainer {
        background-color: var(--secundaryColor);
        max-width: 90%;
        margin-left: auto;
        position: relative;
    }

    .howDoWeDo h2 {
        margin-left: 0.5em;
    }

    .howDoWeDo li {
        margin-left: 2em;
    }


    .howWeDoTextContainer::before {
        content: '';
        position: absolute;
        top: 0;
        left: -6em; /* Pas de afstand van de afschuining aan in em */
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6em 47em 0; /* Pas de grootte van de afschuining aan in em */
        border-color: transparent var(--secundaryColor) transparent transparent;
    }

    /*second block*/
    /**/
    .customerReviews {
        background-color: var(--tertairyColor);
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .customerReviewsContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Voeg deze regel toe om de inhoud in het midden te centreren */
        margin: var(--margin);
    }

    .customerReviewsImageContainer {
        text-align: center;
        margin-top: 20px;
    }

    .customerReviewsImageContainer img {
        max-width: 100%;
        height: auto;
        width: 80%;
    }

    /*third block*/

.askUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .askUsImgContainer {
       margin: 6rem;
        display: none;
    }

    .askUsTextContainer {
        display: flex;
        flex-direction: column;
        margin: 3rem;

    }

.askUsTextContainer img {
    width: 15%;
    margin: 6rem;
    display: none;
}

    .askUsTextContainer ul {
        margin-left: 1rem;
    }

    /*fourth block*/
    .whatDoYouGet {
        display: flex;
        flex-direction: column;
    }

    .whatDoYouGetTextContainer :is(h2) {
        margin-left: 0.5em;
    }

    .whatDoYouGetTextContainer :is(li) {
        margin-left: 2em;
    }

    .whatDoYouGetTextContainer {
        background-color: var(--secundaryColor);
        width: 90%;
        margin-left: auto;
        position: relative;
    }

    .whatDoYouGetTextContainer::before {
        content: '';
        position: absolute;
        top: 0;
        left: -6em; /* Pas de afstand van de afschuining aan in em */
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6.2em 60em 0; /* Pas de grootte van de afschuining aan in em */
        border-color: transparent var(--secundaryColor) transparent transparent;
    }

    .ourApproach {
        background-color: var(--tertairyColor);
        display: flex;
        flex-direction: column;
        text-align: center;

    }

.ourApproach .list {
    display: flex;
    flex-direction: column;
}

.ourApproachContentBlocks {
    display: flex;
    flex-direction: column;
    text-align: center;
}

    .ourApproachContentBlocks img{
        max-height: 400px;
    }

    .ourApproachContentContainer h2,
    .ourApproachContentContainer p {
        font-size: var(--titleSize);
    }

    .ourApproachContentContainer h3 {
        font-size: var(--subTitleSize);
    }

    .ourApproachContentBlocks {
        text-align: center;
        margin: 4em;
        display: flex;
        flex-direction: column;

    }

    /*fith block*/
    /*title slider*/
    .exampleProject {
        background-color: var(--secundaryColor);
    }

    .sliderTitleContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 2em 0 2em;
    }

    .sliderTitle p {
        font-size: 1em;
        margin: 1em 0 0 0.5em;
        font-family: 'Gilroy-Light', sans-serif
    }

    .sliderTitle h2 {
        font-size: 1em;
        margin: 0 0 0.5em 0.3em;
    }

    .exampleProjectImgContainer {
        display: none;
        max-width: 100%;
    }

    .sliderTitleContainer img {
        max-width: 100%;


    }


    /*slider*/
    .slider-container {
        position: relative;
        width: 100%;
        overflow: hidden;

        height: 10em;
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;

    }

    .slide {
        min-width: 100%;
    }

    img {
        width: 100%;
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        background: none;
        border: none;
        cursor: pointer;
        width: 10%;
        z-index: 2; /* Ensure buttons appear above the slides */
    }


    .prev {
        left: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }


    .next {
        right: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .exampleProject article {
        margin: 2em 4em 0 4em;
    }

    .exampleProject li {
        margin: 2em;
    }

    /*How we start*/
    /*progress function*/
    .howWeStart {
        display: flex;
        flex-direction: column;
        align-items: center;
background-color: var(--tertairyColor);
    }

    .progressBar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        position: relative;

    }

    #progressBar1, #progressBar2 {

    }

    #progressBar1, #progressBar2, #progressBar3 {
        margin: 1.8em 0;
        height: 50%;
        width: 7.5%;
    }

    #progressBar1 {
        background-color: var(--textColor);
        color: var(--secundaryColor);
    }

    .progressBar button {
        padding: 1em;
        border-radius: 50%;
        font-size: var(--titleSize);
        font-weight: bold;
        border: none;
    }


    /*.line::before {*/
    /*    content: "";*/
    /*    flex-grow: 1; !* Laat de lijn de resterende ruimte vullen *!*/
    /*    height: 1px;*/
    /*    background-color: var(--secundaryColor);*/
    /*    display: block;*/
    /*    margin-top: 10px; !* Voeg een marge toe onder de lijn *!*/
    /*}*/
    .line {
        background-color: var(--secundaryColor);
        width: 5%;
        height: 7px;
        border: 0 none;
        margin: 5em 0;
    }

    .lineActive {
        background-color: var(--textColor);
        color: var(--secundaryColor);
    }

    .howWeStart figure {
        background-color: var(--secundaryColor);


    }

    .progressBarBlocks {
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }

    .progressBarContentBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0.5em;
        max-width: 30%;
    }

    .howWeStartImg {
        max-width: 50%;
    }

    .progressBarButtonImg {
        width: 20%;
        margin-top: 0.2em;
    }

    .progressBarContentBlock h2 {
        font-size: 2em; /* Pas de gewenste grootte aan */
    }

    .progressBarContentBlock p {
        font-size: 3em; /* Pas de gewenste grootte aan */
    }

    .progressBarContentBlock button {
        font-size: 2.5em; /* Pas de gewenste grootte aan */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 35%;
    }

.howWeStartImgContainer {
    display: none;
}

    .howWeStartText {
        margin: 0 4em 4em 4em;
    }

    .howWeStartText li {
        margin-left: -1em;
    }


    .talk {
        background-color: var(--secundaryColor);
        display: flex;
        flex-direction: column;
        padding: 2em 8em;
        text-align: left;
    }

    .talk li {
        margin: 1em 1em 1em -1em;
    }

    .talkLinkedin img {
        width: 6%

    }

    .talkLinkedin {
        display: flex;
        flex-direction: column;
    }

    .contact {
        background-color: var(--secundaryColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4em;

    }

    form {
        display: flex;
        flex-direction: column;
        font-size: 2.5em;


    }

    input, textarea {
        margin: 0.7em 0 0.7em 0;
        font-size: 1em;
        background-color: var(--tertairyColor);
        border: none;
        color: var(--textColor);
    }

    input[type="checkbox"] {
        width: 0.8em;
        height: 0.8em;
        background-color: var(--tertairyColor);
    }

    form button {
        font-size: 1em;
        margin-top: 1.5em;
    }

    form button:hover {
        background-color: var(--tertairyColor);
    }

/*responsive*/
@media (min-width: 900px)  {
    .whatDoYouGetTextContainer::before {
        content: '';
        position: absolute;
        top: 0;
        left: -6em; /* Pas de afstand van de afschuining aan in em */
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6.2em 33em 0; /* Pas de grootte van de afschuining aan in em */
        border-color: transparent var(--secundaryColor) transparent transparent;
    }


    .ourApproach .list {
        flex-direction: row;
        margin-left: 15rem;
        margin-right: 15rem;
    }






    form {
        font-size: 2em;
    }

    form button {
        font-size: 0.8em;
    }

    input,
    textarea {
        font-size: 0.8em;
    }





}

@media (min-width: 1400px)  {

    .customerReviewsContentContainer{
        margin-left: 0;
        margin-right: 22rem;
    }

    .customerReviewsContentContainer img{
        margin-left: 0;
        margin-right: 22rem;
        width: 35%;
    }

    /*ask us*/
    .askUsImgContainer {
        text-align: center;
    }

    .askUsTextContainer {
        justify-content: center;
    }

    .askUsTextContainer img {
        display: block;
    }

/*example projects*/


    .exampleProjectText{
        display: flex;
        flex-direction: row;
        margin-left: 35rem ;
        margin-right: 45rem ;

    }

    .sliderTitleContainer {
    justify-content: center;

}

    .sliderTitle {
        margin-right: 11em;
        margin-left: 6em;
    }

    .vanMeeuwenImg {
        max-width: 7%;
        padding-left: 5em;
    }

    .exampleProjectImgContainer {
        display: flex;
        flex-direction: row;

    }

    .exampleProjectImgContainer img {
        width: 30%;

    }

    #bigImg {
    width: 60%;
}

    .slider-container {
        display: none;
    }

/*how we start / progressbar*/
    .howWeStartContainer {
        background-color: var(--secundaryColor);
        padding: 1rem;
        width: 100%;
        height: 100%;
    }
    .progressBar {
        display: none;
    }

    .progressBarContentBlock {
        display: none;
    }

    .howWeStart {
        margin-left: 15rem;
        margin-right: 15rem;
        padding: 15rem;
    }
    .howWeStartImgContainer {
    display: flex;
        flex-direction: row;
    }

    .howWeStartImgContainer img {
    width: 100%;
    }

    .howeStartContentBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 3rem;
        padding-right: 3rem;
    }




/*talk and form*/
    .talkAndContactContainer {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;


    }

    .talk {
        width: 50%;
        padding-right: 10rem;
    }

    #linkedin {
        width: 1%;
    }

    .talk img{
        width: 40%;
    }

    .contact {
        width: 50%;
        padding-left: 15rem;
    }



}
@media (min-width: 1200px) {
    .howDoWeDo {
        flex-direction: row-reverse;

    }

    .howWeDoTextContainer {
        width: 100%;
    }

    .howDoWeDoEmpty {
        display: block;
        padding-left: 7rem;
    }

    /*ask us*/
    .askUsImgContainer {
        display: block;
    }



    .whatDoYouGet {
        flex-direction: row;

    }

    .whatDoYouGetTextContainer {
        width: 47%;
    }

    .whatDoYouGetEmpty {
        display: block;
        padding-right: 7rem;
    }


}

@media (min-width: 2200px) {


    .howWeDoTextContainer {
        width: 100%;
    }

    .howDoWeDoEmpty {
        padding-left: 30rem;
    }
}

@media (min-width: 2500px) {

    /*how we do*/
    .howWeDoTextContainer {
        width: 100%;
    }

    .howDoWeDoEmpty {
        padding-left: 40rem;
    }

    /*customer review*/
    .customerReviewsContentContainer {
        margin-left: 40rem;
    }


}