:root {
  /* kleuren */
  --text-color: #222222;
  --section-color: #abcdd9;
  --section-color-2: #d3e5eb;

  /* typografie */
  --font-family-body: "Gilroy", sans-serif;
  --font-size-h1: 5em;
  --font-size-h2: 2em;
  --body-text: 1em;
  --button-text: 1.1em;

  /* marges en witruimtes */
  --padding-section: 1em;
  --margin-spacing: 1.2em;
}


  body {
    margin: 0; 
    padding: 0;
    font-family: "Gilroy", sans-serif;

  }

  header {
    background-color: var(--section-color);
    background-position: center;
    background-repeat: no-repeat;
    padding: var(--padding-section);
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*image settings*/
header img {
  max-width: 100%;
}

img {
  max-width: 100%;
}

  section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 90vw;
    padding: var(--padding-section);
    position: relative;
  }

  section:nth-of-type(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6em; /* Pas de afstand van de afschuining aan in em */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6em 36em 0; /* Pas de grootte van de afschuining aan in em */
    border-color: transparent var(--secundaryColor) transparent transparent;
  }

  section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    background-color: var(--section-color-2);
    width: 100vw;
    color: #000;
    padding: var(--padding-section);
    position: relative;
  }

  section:nth-last-of-type(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6em; /* Pas de afstand van de afschuining aan in em */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6em 36em 0; /* Pas de grootte van de afschuining aan in em */
    border-color: transparent var(--secundaryColor) transparent transparent;
  }

  .howDoWeDo {
    display: flex;
    flex-direction: column;

}

.howWeDoTextContainer {
    background-color: var(--secundaryColor);
    width: 90%;
    margin-left: auto;
    position: relative;

}

.howWeDoTextContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6em; /* Pas de afstand van de afschuining aan in em */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6em 36em 0; /* Pas de grootte van de afschuining aan in em */
    border-color: transparent var(--secundaryColor) transparent transparent;
}

/*second block*/
/**/
.customerReviews {
    background-color: var(--tertairyColor);
    display: flex;
    flex-direction: column;
    align-items: center;


}

.customerReviewsContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Voeg deze regel toe om de inhoud in het midden te centreren */
    margin: 4em;
}

.customerReviewsImageContainer {
    text-align: center;
    margin-top: 20px;
}

.customerReviewsImageContainer img {
    max-width: 100%;
    height: auto;
    width: 80%;
}

/*third block*/
.askUsTitleContainer {
    margin: 1em 4em 6em;
}

.askUsTitleContainer ul {
    margin-top: 4em;
}

/*fourth block*/
.whatDoYouGet {
    display: flex;
    flex-direction: column;

}

.whatDoYouGetTextContainer {
    background-color: var(--secundaryColor);
    width: 90%;
    margin-left: auto;
    position: relative;

}

.whatDoYouGetTextContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6em; /* Pas de afstand van de afschuining aan in em */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6em 45em 0; /* Pas de grootte van de afschuining aan in em */
    border-color: transparent var(--secundaryColor) transparent transparent;
}

.ourApproach {
    background-color: var(--tertairyColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourApproachContentBlocks {
    text-align: center;
    margin: 4em;
display: flex;
    flex-direction: column;
    align-items: center;
}

/*fith block*/


/*slider*/
.slider-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

img {
    width: 100%;
    height: 70%;
}

.prev, .next {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2; /* Ensure buttons appear above the slides */
}

.prev {
    left: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.next {
    right: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}
